* {
  margin: 0px;
  font-family: "DM Sans", sans-serif;
}

.homeContainer {
  color: #274c77;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px auto auto 100px 100px auto;
  grid-auto-columns: 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header"
    "homeMain homeMain homeMain homeMain"
    "homeMain homeMain homeMain homeMain"
    "homeGallerySection homeGallerySection homeBlogSection homeBlogSection"
    "homeGallerySection homeGallerySection homeBlogSection homeBlogSection"
    "footer footer footer footer";
}

.header {
  grid-area: header;
}

.topBar {
  display: flex;
  flex-direction: row;
  height: 40px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
}

.menuItem {
  align-items: center;
  padding: 0px 10px 0px 10px;
}

.menuItem a:link,
.menuItem a:visited {
  text-decoration: none;
  color: #a3cef1;
}
.menuItem a:active {
  text-decoration: underline;
}
.menuItem a:hover {
  color: #6096ba;
}

.homeMain {
  grid-area: homeMain;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#mainImage {
  max-height: 500px;
}

.homeGallerySection {
  grid-area: homeGallerySection;
  background-color: #274c77;
  border-radius: 10px;
  padding: 30px;
  margin-left: 20px;
}

.homeBlogSection {
  grid-area: homeBlogSection;
  background-color: #274c77;
  border-radius: 10px;
  padding: 30px;
  margin-right: 20px;
}

.cardContent {
  color: #f5f749;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.homeGallerySection :hover,
.homeBlogSection :hover {
  color: #42213d;
}
.cardContent h3 {
  color: #e7ecef;
}

/* Acerca */
.aboutContainer {
  color: #274c77;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px auto auto auto auto auto;
  grid-auto-columns: 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header"
    "aboutMain aboutMain aboutMain aboutMain"
    "aboutMain aboutMain aboutMain aboutMain"
    "aboutLeft aboutLeft aboutRight aboutRight"
    "aboutLeft aboutLeft aboutRight aboutRight"
    "footer footer footer footer";
}

html,
body,
.aboutContainer {
  height: 100%;
  margin: 0;
}

.aboutMain {
  grid-area: aboutMain;
  text-align: center;
}
#aboutImg {
  width: 100%;
}
.aboutLeft {
  grid-area: aboutLeft;
}

.aboutRight {
  grid-area: aboutRight;
}

/* Galería */
.galleryContainer {
  color: #274c77;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px auto auto auto auto auto;
  grid-auto-columns: 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header"
    "galleryMain galleryMain galleryMain galleryMain"
    "galleryMain galleryMain galleryMain galleryMain"
    "gallery1 gallery1 gallery2 gallery2"
    "gallery3 gallery3 gallery4 gallery4"
    "footer footer footer footer";
}

html,
body,
.galleryContainer {
  height: 100%;
  margin: 0;
}
.galleryMain {
  grid-area: galleryMain;
  text-align: center;
}
.gallery1 {
  grid-area: gallery1;
  margin-left: 20px;
}
.gallery2 {
  grid-area: gallery2;
  margin-right: 20px;
}
.gallery3 {
  grid-area: gallery3;
  margin-left: 20px;
}
.gallery4 {
  grid-area: gallery4;
  margin-right: 20px;
}

.galleryCard {
  background-color: #274c77;
  border-radius: 10px;
  padding: 30px;
}

.footer {
  grid-area: footer;
}

html,
body,
.homeContainer {
  height: 100%;
  margin: 0;
}

/* Footer */
.footer {
  background-color: #42213d;
}
.footer a {
  color: #274c77;
  font-weight: bolder;
  padding: 4px;
}
.footer a:hover {
  color: #6096ba;
}

.footerLinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

/* Formulario */
.form .main{
  text-align: center;
}
.formulario {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
}
.formulario li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
 .formulario label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
} 
.formulario input[type=text], 
.formulario input[type=date],
.formulario input[type=datetime],
.formulario input[type=number],
.formulario input[type=search],
.formulario input[type=time],
.formulario input[type=url],
.formulario input[type=email],
textarea, 
select{
	box-sizing: border-box;
	border:1px solid #6096BA;
	padding: 7px;
	margin:0px;
	outline: none;	
}
.formulario input[type=text]:focus, 
.formulario input[type=date]:focus,
.formulario input[type=datetime]:focus,
.formulario input[type=number]:focus,
.formulario input[type=search]:focus,
.formulario input[type=time]:focus,
.formulario input[type=url]:focus,
.formulario input[type=email]:focus,
.formulario textarea:focus, 
.formulario select:focus{
	-moz-box-shadow: 0 0 8px #6096BA;
	-webkit-box-shadow: 0 0 8px #6096BA;
	box-shadow: 0 0 8px #6096BA;
	border: 1px solid #6096BA;
}
.formulario .field-divided{
	width: 49%;
}

.formulario .field-long{
	width: 100%;
}
.formulario .field-select{
	width: 100%;
}
.formulario .field-textarea{
	height: 100px;
}

.formulario .required{
	color:red;
}
/* Responsive */

@media (max-width: 480px) {
  .homeContainer {
    grid-template-areas:
      "header header header header"
      "homeMain homeMain homeMain homeMain"
      "homeMain homeMain homeMain homeMain"
      "homeGallerySection homeGallerySection homeGallerySection homeGallerySection"
      " homeBlogSection  homeBlogSection homeBlogSection homeBlogSection"
      "footer footer footer footer";
  }

  .homeGallerySection {
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    align-content: center;
  }

  .homeBlogSection {
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    align-content: center;
  }

  #mainImage {
    width: 90%;
  }
  .menuItem {
    font-weight: lighter;
    font-size: 14px;
    align-items: center;
    padding: 0px 4px 0px 4px;
  }

  .aboutContainer {
    grid-template-areas:
      "header header header header"
      "aboutMain aboutMain aboutMain aboutMain"
      "aboutMain aboutMain aboutMain aboutMain"
      "aboutLeft aboutLeft aboutLeft aboutLeft"
      "aboutRight aboutRight aboutRight aboutRight"
      "footer footer footer footer";
  }

  .galleryContainer {
    color: #274c77;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px auto auto auto auto auto auto auto;
    grid-auto-columns: 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header header"
      "galleryMain galleryMain galleryMain galleryMain"
      "galleryMain galleryMain galleryMain galleryMain"
      "gallery1 gallery1 gallery1 gallery1"
      "gallery2 gallery2 gallery2 gallery2"
      "gallery3 gallery3 gallery3 gallery3"
      "gallery4 gallery4 gallery4 gallery4"
      "footer footer footer footer";
  }

  .gallery1 {
    grid-area: gallery1;
    margin-left: 20px;
    margin-right: 20px;
  }
  .gallery2 {
    grid-area: gallery2;
    margin-left: 20px;
    margin-right: 20px;
  }
  .gallery3 {
    grid-area: gallery3;
    margin-left: 20px;
    margin-right: 20px;
  }
  .gallery4 {
    grid-area: gallery4;
    margin-left: 20px;
    margin-right: 20px;
  }
}
