@charset "UTF-8";
* {
  font-family: "DM Sans", sans-serif; }

/* Cards */
.card-box {
  color: #c6ced3;
  background: #a3cef1;
  min-height: 200px;
  position: relative;
  padding: 30px 30px 20px;
  margin-bottom: 20px;
  display: flex;
  margin-top: 20px;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-evenly;
  position: relative;
  cursor: pointer;
  border-radius: 10px; }
  .card-box:hover {
    background: linear-gradient(to right, #a3cef1 0%, #e7ecef 100%); }

.card-title h2 {
  margin: 0;
  padding-top: 5%;
  color: #274c77;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 15px; }

.card-title p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px; }

.card-link a {
  text-decoration: none;
  color: #f5f749;
  font-size: 15px; }

/* Galería */
.carruselGaleria {
  grid-area: galleryMain;
  text-align: center;
  justify-content: center;
  max-width: 800px; }

/* Formulario */
.form .main {
  text-align: center; }

.formulario {
  margin: 10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px; }
  .formulario li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0; }
  .formulario label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block; }
  .formulario .field-divided {
    width: 49%; }
  .formulario .field-long {
    width: 100%; }
  .formulario .field-select {
    width: 100%; }
  .formulario .field-textarea {
    height: 100px; }
  .formulario .required {
    color: red; }

.formulario input[type="text"],
.formulario input[type="date"],
.formulario input[type="datetime"],
.formulario input[type="number"],
.formulario input[type="search"],
.formulario input[type="time"],
.formulario input[type="url"],
.formulario input[type="email"],
textarea,
select {
  box-sizing: border-box;
  border: 1px solid #6096ba;
  padding: 7px;
  margin: 0px;
  outline: none; }

.formulario input[type="text"]:focus,
.formulario input[type="date"]:focus,
.formulario input[type="datetime"]:focus,
.formulario input[type="number"]:focus,
.formulario input[type="search"]:focus,
.formulario input[type="time"]:focus,
.formulario input[type="url"]:focus,
.formulario input[type="email"]:focus,
.formulario textarea:focus,
.formulario select:focus {
  -moz-box-shadow: 0 0 8px #6096ba;
  -webkit-box-shadow: 0 0 8px #6096ba;
  box-shadow: 0 0 8px #6096ba;
  border: 1px solid #6096ba; }

/* Acerca */
#aboutImg {
  width: 100%;
  padding: 10px; }

#mainImage {
  max-height: 600px; }

footer {
  background-color: #42213d;
  margin-top: 20px; }
  footer a {
    color: #274c77;
    font-weight: bolder;
    padding: 4px; }
    footer a:hover {
      color: #6096ba; }

.footerLinks {
  padding: 15px; }
