footer {
  padding-top: 20px;
  background-color: map-get($paletaColores,clarisimo);
  margin-top:20px;
  ul{
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: map-get($paletaColores,neutro);;
    font-weight: bolder;
    padding: 4px;
    &:hover {
        color: map-get($paletaColores,claro);
      }
  }
  
}

.footerLinks {
  padding: 15px;
}
