footer {
  background-color: #42213d;
  margin-top:20px;
  a {
    color: #274c77;
    font-weight: bolder;
    padding: 4px;
    &:hover {
        color: #6096ba;
      }
  }
  
}

.footerLinks {
  padding: 15px;
}
