/* Cards */

.card-box {
  color: map-get($paletaColores,claro);
  background: map-get($paletaColores,claro);
  min-height: 200px;
  position: relative;
  padding: 30px 30px 20px;
  margin-bottom: 20px;

  display: flex;
  margin-top: 20px;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-evenly;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  &:hover {
    background: linear-gradient(to right, map-get($paletaColores,claro) 0%, map-get($paletaColores,clarisimo) 100%);
  }
}

.card-title {
    h2 {
        margin: 0;
        padding-top: 5%;
        color: map-get($paletaColores,oscuro);
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 1;
        margin-bottom: 15px;
      }
      
      p {
        margin: 0;
        margin-bottom: 10px;
        font-size: 16px;
      }
}

.card-link a {
  text-decoration: none;
  color: map-get($paletaColores,amarillo);
  font-size: 15px;
}
